<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Lemur Learns</title>
  <link href='http://fonts.googleapis.com/css?family=Open+Sans:300italic,400' rel='stylesheet' type='text/css'>
  <link rel="stylesheet" type="text/css" href="/public/style.css">
</head>
<body>
<header>
<h1>Lemur Learns</h1>
  <nav>
    <ul>
      <li><a class="nav_a" href="/articles">home</a></li>
      <li><a class="nav_a" href="/articles/edit">edit</a></li>
    </ul>
  </nav>
</header>

<div class="content">
<ul class="articlelist_list">

<% articles.forEach( function(article) { %>

  <li class="articlelist_li">
    <span class="<% if (article.visible===0) { %>articlelist_hiddentitle<% } else { %>articlelist_title<% } %>"><%= article.title %></span>
    <span class="articlelist_buttons">
      <a class="articlelist_button" href="/article/<%= article.id %>/edit">edit</a>
      <% if (article.visible>0) { %>
      <a class="articlelist_button" href="/article/<%= article.id %>/setvisible?visible=0">hide</a>
      <% } else { %>
      <a class="articlelist_button" href="/article/<%= article.id %>/setvisible?visible=1">show</a>
      <% } %>
      <a class="articlelist_button" href="/article/<%= article.id %>/delete">delete</a>
    </span>
  </li>
  <div class="articlelist_seperator"></div>
<% }); %>
  <li class="articlelist_new">
    <a href="/articles/new">—new article—</a>
  </li>
</ul>
</div>



</body>
</html>