<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Lemur Learns - <%= article.title %></title>
  <link href='http://fonts.googleapis.com/css?family=Open+Sans:300italic,400' rel='stylesheet' type='text/css'>
  <link rel="stylesheet" type="text/css" href="/public/style.css">
</head>
<body>
<header>
<h1>Lemur Learns</h1>
  <nav>
    <ul>
      <li><a href="/articles">home</a></li>
      <li><a href="/articles/edit">edit</a></li>
    </ul>
  </nav>
</header>

<div class="content">
<div class="title">
<h2><%= article.title %></h2>
<h3><%= article.created %></h3>
</div>

<% sections.forEach( function(section) { %>

  <section class="section_display">
  <% if (section.image_position > 0) { %>
    <div class="section_imagePos<%= section.image_position %>">
    <img src="<%= section.image_url %>">
  </div>
  <% } %>
  <% var paragraphs = section.body.split('\n');
    paragraphs.forEach( function(paragraph) { 
      if (paragraph.length > 0) { %>
      <p><%= paragraph %></p>
  <%  }
    }); %>
    <div class="floatclearer"></div>
  </section>

<% }); %>
</div>
</body>
</html>