<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Lemur Learns</title>
  <link href='http://fonts.googleapis.com/css?family=Open+Sans:300italic,400' rel='stylesheet' type='text/css'>
  <link rel="stylesheet" type="text/css" href="public/style.css">
</head>
<body>
<header>
<h1>Lemur Learns</h1>
  <nav>
    <ul>
      <li><a href="/articles">home</a></li>
      <li><a href="/articles/edit">edit</a></li>
    </ul>
  </nav>
</header>

<% articles.forEach( function(article) { %>

<summary>
  <h2><%= article.title %></h2>
  <h3><%= article.created %></h3>
  <img src="<%= article.image_url %>">
  <p><%= article.summary %></p>
  <a href="/article/<%= article.id %>">read more</a>
</summary>

<% }); %>


</body>
</html>