<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Lemur Learns - <%= article.title %></title>
  <link href='http://fonts.googleapis.com/css?family=Open+Sans:300italic,400' rel='stylesheet' type='text/css'>
  <link rel="stylesheet" type="text/css" href="/public/style.css">
  <script>
  function sectionedit(id,isEdit) {
    var section = document.getElementById("section_id"+id);
    if (isEdit) {
      section.className = "section_editing";
    } else {
      section.className = "section_previewing";
    }
  }
  </script>
</head>
<body>
<header>
<h1>Lemur Learns</h1>
  <nav>
    <ul>
      <li><a href="/articles">home</a></li>
      <li><a href="/articles/edit">edit</a></li>
    </ul>
  </nav>
</header>

<div class="content">

  <section class="section_previewing" id="section_id0">
  <ul class="section_edit_toggle"><li class="section_edit_button"><a href="#0" onclick="sectionedit(0,true)">edit</a></li><li class="section_preview_button"><a href="#0" onclick="sectionedit(0,false)">preview</a></li></ul>
  <div class="section_preview">

    <summary>
      <div class="title">
      <h2><%= article.title %></h2>
      <h3><%= article.created %></h3>
      </div>
      <img src="<%= article.image_url %>">
      <div class="summarytext"><%= article.summary %></div>
    </summary>

  </div>
  <div class="section_form">

<form action="/article/<%= article.id %>?_method=put" method="POST">
  <ul class="article_summary_editlist">
    <li><label for="title">title</label><input type="text" name="title" value="<%= article.title %>"></li>
    <li><label for="created">date</label><input type="text" name="created" value="<%= article.created %>"></li>

    <li><label for="image_url">image url</label><input type="text" name="image_url" value="<%= article.image_url %>"></li>
    
    <li><label for="summary"></label><textarea name="summary"><%= article.summary %></textarea></li>
  </ul>

  <button class="button_floatleft" type="submit">update</button>
</form>
</div>
</section>

<% sections.forEach( function(section) { %>

  <section class="section_previewing" id="section_id<%= section.id %>">
  <ul class="section_edit_toggle"><li class="section_edit_button"><a href="#0" onclick="sectionedit(<%= section.id %>,true)">edit</a></li><li class="section_preview_button"><a href="#0" onclick="sectionedit(<%= section.id %>,false)">preview</a></li></ul>
  <div class="section_preview">
    <section class="section_display">
    <% if (section.image_position > 0) { %>
      <img class="section_imagePos<%= section.image_position %>" src="<%= section.image_url %>">
    <% } %>
    <% var paragraphs = section.body.split('\n');
      paragraphs.forEach( function(paragraph) { 
        if (paragraph.length > 0) { %>
        <p><%= paragraph %></p>
    <%  }
      }); %>
      <div class="floatclearer"></div>
    </section>
  </div>
  <div class="section_form">
  <form action="/article/<%= article.id %>/section/<%= section.id %>?_method=put" method="POST">
  <div class="image_form_div">
  <label for="image_position">image position</label><select name="image_position">
    <% var img_options = ["none","top","left","right"]; %>
    <% for (var i=0; i<4;i++) { %><option value="<%= i %>"<% if (i === section.image_position) { %> selected<%}%>><%= img_options[i] %></option> <% } %>
    </select>
  <div class="image_url_div">
  <label for="image_url">image url</label><input class="image_textbox" type="text" name="image_url" value="<%= section.image_url %>">
  </div>
  </div>

  <label for="body"></label><textarea name="body" class="textarea_section_body"><%= section.body %></textarea>
  <button class="button_floatleft" type="submit">update</button>
  </form>
  <form class="form_delete" action="/article/<%= article.id %>/section/<%= section.id %>?_method=delete" method="POST">
  <button class="button_floatright" type="submit">delete this section</button>
  </form>
  </div>
  </section>

<% }); %>
  
<form action="/article/<%= article.id %>/sections" method="POST">
<button type="submit">Add Section</button>
</form>
</div>
</body>
</html>