<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Lemur Learns</title>
  <link href='http://fonts.googleapis.com/css?family=Open+Sans:300italic,400' rel='stylesheet' type='text/css'>
  <link rel="stylesheet" type="text/css" href="public/style.css">
</head>
<body>
<header>
<h1>Lemur Learns</h1>
  <nav>
    <ul>
      <li><a class="nav_a" href="/articles">home</a></li>
      <li><a class="nav_a" href="/articles/edit">edit</a></li>
    </ul>
  </nav>
</header>

<div class="content">
<% var i=0 %>
<% articles.forEach( function(article) { %>
<% if (i++ !== 0) { %> <div class="seperator"></div> <% } %>
<summary>
  <div class="title">
  <h2><%= article.title %></h2>
  <h3><%= article.created %></h3>
  </div>
  <img src="<%= article.image_url %>">
  <div class="summarytext"><%= article.summary %></div>
  <a class="readmore" href="/article/<%= article.id %>">—read more—</a>
</summary>

<% }); %>
</div>


</body>
</html>